@import "jobs";
@import "bourbon";
@import "neat";
//***************
// Basic style
//***************
*{
  -webkit-transition: 0.1s linear;
}
body{
background: url('bg.png') top center repeat-x, url('folder_noise.png') top center;
font-family: 'Rokkitt', serif;
}
h1{
  width: 390px;
  height: 79px;
  background: url('easy_jobs.png') top center no-repeat;
  text-indent: -20000px;
  margin-top: 2px;
  float: left;
  }

#user_bar{

  margin-right: 77px;
  float: right;
  margin-top: 29px;
}
.content{
  float: left;
  background: url('noise.png') top center, -webkit-gradient(linear, left bottom, left top, color-stop(0, #F0F0F0), color-stop(1, #FFF));
  margin: 65px 8.4210526315789%; /* 80/ 95*/
  padding: 30px;
  box-shadow: 0px 1px 20px rgba(0,0,0,0.8);
  width: 83.1578947368421% /*790 /950*/
 }
#wrapper{
  @include outer-container;

  .job_title{
    font-size: 1.4em;
    @include span-columns(4);
    margin-right: 0px;
  }
  .description{
    @include span-columns(8);
    @include omega();
    display: block;
    padding-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.notice, .alert{
  background: #33FF33;
  color:white;
}
.alert{
  background: #d70000;
  color: white;
}
//***************
// Job Index view
//***************

ul{
  padding: 0px;
  clear: both;
}
li{

  margin: 20px;
  padding: 20px ;
  list-style-type: none;
}
.new_job_link{
  float: right;
  font-weight: bold;
  font-size: 2em;
  background: #d70000;
  text-decoration: none;
  color: white;
  -moz-text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
  -webkit-text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
  text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
  padding:5px 10px;
  border: 4px solid #FFF;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
  -mozbox-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 24px;
}
.new_job_link:hover, .new_job_link:active{
 -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.4);
 -mozbox-shadow: 0px 1px 6px 3px rgba(0,0,0,0.4);
 box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.4);
 background-color: #CB0000;
 
}

.Edit_link{
  @include span-columns(4);
  width: 73%
}
//***************
// Job Show view
//***************

ul#jobs li:nth-child(odd) {
  background: lightblue;
  margin: inherit;

}
ul#jobs li:nth-child(even) {
  background: wheat;
  margin: inherit;

}


.job_show{
  .job_header {
    float: left;
  }
  .show_job_title{
      font-size: 1.4em;
      font-weight: bold;
  }
  .job_date{
    color: #d70000;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    float: right;
    transform: rotate(-10deg);
    margin-right: 50px;
  }
  .company_name{
    font-size: 1.4em;
    color: #555;
    margin-bottom: 30px;
  }
  p.job_description{
    margin-bottom: 20px;
    float: left;
  }
  .job_links{
    float: left;
    clear: both;

  }
  .details_link {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    float: left;
  }
}
//***************
// Forms view
//***************

h2{
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 0;
}
.field{
 
   label {
      margin-top: 20px;
      display: block;
    }
}

//***************
// media query
//***************
@media only screen and (max-width: 830px) {
  body{
    
  }
  h1#logo{
    width: 320px;
    background-size: contain;
    margin-top: 15px;
    
  }
  .content{
    margin-top: 20px;
    padding: 30px;
    width: 83.1578947368421% /*790 /950*/
 }
#wrapper {
    @include outer-container;
    $mobile: new-breakpoint(max-width 830px 4);
    .job_title{
    @include span-columns(4);
    width: 90%;
    }

    .description{
      @include media($mobile) {
      @include span-columns(3);
      width: 100%;
      }
    }
  }
}

li{
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
  background: green;
  }
  .job_show{
    .job_date{
      font-size: 1.2em;
      margin-right: 50px;
      margin-top: 21px;
      -webkit-transform: rotate(-3deg);
    }
    .notice, .alert{
      display: none;
    }
  }

@media only screen and (max-width: 701px) {
  h1#logo{
    margin-top: 23px;
  }
 .notice, .alert{
    display: none;
  }
.job_show{
    .job_date{
      font-size: 1.2em;
      float: left;
      clear: both;
      
      -webkit-transform: rotate(-3deg);
      margin: 10px 26px;
    }
  }
}
@media only and (max-width: 660px) {
 .notice, .alert{
    display: none;
  }
 .job_show{
    .job_date{
      font-size: 1.2em;
   
    }
  }   
  #user_bar{
  margin-top: 0px; 
  }
}
